<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="madlib">
        <label for="name">What's your name?</label>
        <input name="name" id="name" value="">
        <br>
        <label class="text">name a color:</label>
        <select name="color" id ="s">
          <option value="Blue">Blue</option>
          <option value="Green">Green</option>
          <option value="Red">Red</option>
          <option value="Purple">Purple</option>
          </select>
        <br> 
        <label for="noun" class="text">Give me a noun</label>
        <input name="noun" id="noun" value="">
        <br>
        <label for="adjective" class="text">give me an adjective</label>
        <input name="adjective" id="adjective" value="">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>