

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
  <h1>Nice to meet you, {{ name }}.</h1>
  <p>You're very {{ compliment }}.</p>
  <form id="gameQ" action="/game">
  <span>Would you like to play a game?</span>
    <input type="radio" id="gameY" name="q" value="n"/>
    <label for="gameY">no</label>
    <input type="radio" id="gameN" name="q" value="y"/>
    <label for="gameN">yes</label>
    <br>
    <button>Submit</button>
  </form>
</body>

</html>